<p><%= t('view.index') %></p>
<p><%= notice %></p>

<table>
  <thead>
  <tr>
    <th><%= t('view.name') %></th>
    <th><%= t('view.detail') %></th>
    <th><%= t('view.expired_at') %></th>
    <th><%= t('view.created_at') %></th>
    <th><%= t('view.status') %></th>
  </tr>
  </thead>

  <tbody>
    <%= link_to t('view.sort_expired'), tasks_path(sort_expired: "true") %>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.detail %></td>
        <td><%= task.expired_at %></td>
        <td><%= task.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
        <td><%= task.status %></td>

        <td><%= link_to t('view.show_task_detail'), task_path(task.id) %></td>
        <td><%= link_to t('view.edit_task'), edit_task_path(task.id) %></td>
        <td><%= link_to t('view.destroy_task'), task_path(task.id), method: :delete, data: { confirm: "本当に削除していいですか？"} %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t('view.go_to_top'), root_path %>
<%= link_to t('view.create_task'), new_task_path %>
